<div>
    <h1>Plantillas</h1>
    <form #plantillaform="ngForm">
        <select class="form-control" name="id" #id (change)="sacarPlantilla()">
            @for(plantilla of plantillas; track plantilla)
            {
                <option>{{plantilla.idEmpleado}}</option>
            }
        </select>
    </form>
    <hr/>
    @if(plantilla != null)
    {
        <table class="table table bordered">
            <thead>
                <tr>
                    <th>Id Empleado</th>
                    <th>Id Hospital</th>
                    <th>IdSala</th>
                    <th>Apellido</th>
                    <th>Funcion</th>
                    <th>Turno</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{plantilla.idEmpleado}}</td>
                    <td>{{plantilla.idHospital}}</td>
                    <td>{{plantilla.idSala}}</td>
                    <td>{{plantilla.apellido}}</td>
                    <td>{{plantilla.funcion}}</td>
                    <td>{{plantilla.turno}}</td>
                    <td>{{plantilla.salario}}</td>
                </tr>
            </tbody>
    </table>
    }
</div>